{% extends 'core/base.html' %}
 {% block contenido %}
            <div id="panelControl">
                <h1>Panel de Administrador</h1>

            <div id="panelControlOpci">
    
                    <div class="dato">
                        <h4>Empleado</h4>
                        <p><a href="#">Datos personales</a></p>
                        <p><a href="#">Editar datos personales</a></p>
                    </div>
                    <div class="dato">
                        <h4>Solicitudes</h4>
                        <p><a href="#">Ver solicitudes</a></p>
                        <p><a href="#">Gestionar solicitudes</a></p>
                    </div>
                    <div class="dato">
                        <h4>Servicios</h4>
                        <p><a href="#">Ver servicios</a></p>
                        <p><a href="#">Gestionar servicios</a></p>
                        <p><a href="#">Seguimiento de servicios</a></p>
                    </div>
                    <div class="dato">
                        <h4>Mensajes</h4>
                        <p><a href="#">Ver mensajes</a></p>
                        <p><a href="#">Escribir mensaje</a></p>
                    </div>

            </div>

        </div>


{% endblock %}
<