{% extends 'core/base.html' %}
{% block contenido %}


<div id="panelControl">
    <h1>Panel de Cliente</h1>

    <div id="panelControlOpci">

        <div class="dato">
            <h4>Cliente</h4>
            <p><a href="#">Ver datos personales</a></p>
            <p><a href="#">Editar datos personales</a></p>
        </div>
        <div class="dato">
            <h4>Historial</h4>
            <p><a href="#">Ver solicitudes</a></p>
            <p><a href="#">Imprimir historial</a></p>
            <p><a href="#">Buscar solicitud</a></p>
        </div>
        <div class="dato">
            <h4>Pagos</h4>
            <p><a href="#">Ver medios de pago</a></p>
            <p><a href="#">Agregar medio de pago</a></p>
            <p><a href="#">Eliminar medio de pago</a></p>
        </div>
        <div class="dato">
            <h4>Contacto</h4>
            <p><a href="#">Ver mensajes</a></p>
            <p><a href="#">Escribir mensaje</a></p>
        </div>

    </div>

</div>


{% endblock %}
