{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SUIT PRIME - Servicios de limpieza de cristales</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}"  />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'core/css/estilo2.css' %}" rel="stylesheet" />
        <!-- js -->
        <script src="{% static 'core/js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static 'core/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'core/js/index.js' %}"></script>

    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">SUIT PRIME</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="pricing.html">Servicios</a></li>
                            <li class="nav-item" id="nav_registro"><a class="nav-link" href="Registro.html">Registrarse</a></li>
                            <li class="nav-item nav_admin" id="nav_admin"><a class="nav-link" href="Admin.html">Panel de control</a></li>
                            <li class="nav-item nav_user" id="nav_user"><a class="nav-link" href="Client.html">Panel usuario</a></li>
                            <li class="nav-item" id="nav_inicio"><a class="nav-link" href="iniciarSesion.html">Iniciar sesion</a></li>
                            <li class="nav-item" id="nav_cerrar"><a class="nav-link" onclick="cerrar()">Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5 bg-img">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 id="portadaTitulo">Suit Prime</h1>
                                <p class="portadaTituloDesc" >Expertos en limpieza de cristales</p>
                                <p class="portadaTituloDesc" ><a id="portadaTituloPlanes"  href="pricing.html">Ver planes</a></p>  
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Procesos comprobados para lograr el mejor resultado</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <h2 class="h5">Evaluación técnica</h2>    
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <h2 class="h5">Estudio de calidad</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <h2 class="h5">Detección de problemas</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem.</p>
                                </div>
                                <div class="col h-100">
                                    <h2 class="h5">Presupuestos</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="fw-bold">
                                        Tom Ato
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Cliente de Suit Prime
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
 
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto"><!--
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a> -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
