{% extends 'core/base.html' %}
{% block contenido %}


<div id="sesionInicioDivId">
    <h1 class="regFormTitulo">IInicio de sesión administradores</h1>
    <form action="/" id="sesionInicio">
        
        <div class="dato">
            <p><label for="email">Su dirección de correo:</label></p>
            <p><input name="email" type="email" /></p>
        </div>
        <div class="dato">
            <p><label for="password">Contraseña:</label></p>
            <p><input type="password" /></p>
        </div>
        <div class="dato datoIngreso">
            <p><button onclick="iniciar_usuario()" type="submit">Iniciar sesión</button></p>
            <p><a class="admIngrs" href="iniciarSesion">Ingresar como Usuario</a></p>
            <p><a class="registroBt" href="Registro">¡Regístrate aquí si aun no lo estas!</a></p>
        </div>

    </form>
</div>


{% endblock %}