{% extends 'core/base.html' %}
{% block contenido %}
            <!-- Pricing section-->
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Tenemos un plan para la limpieza de su propiedadd</h1>
                        <p class="lead fw-normal text-muted mb-0">Contáctenos para encontrar la mejor forma de limpiar sus cristales.</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <!-- Pricing card free-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">

                                    <div class="mb-3">
                                        <span class="display-4 fw-bold tituloprecios">Edificios corporativos</span>
                                        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card pro-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold tituloprecios">Recintos Industriales</span>
                                        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card enterprise-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold tituloprecios">Viviendas Particulares</span>
                                        <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie dapibus placerat. Cras a tincidunt dolor, non euismod odio. Aenean auctor dui nec bibendum euismod. Morbi faucibus sagittis lorem.</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-body p-5">
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold tituloprecios">Próximas Exposiciones</span>
                                        <span class="text-muted">
                                            <dl>
                                                <hr/>
                                                {% for hr in lashoras %}
                                                <dt>Fecha</dt>
                                                <dd>{{ hr.horaDate }}</dd>
                                                <dt>Servicio</dt>
                                                <dd>{{ hr.horaServ }}</dd>
                                                <hr/>
                                                {% endfor %}
                                            </dl>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </section>
{% endblock %}
