{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SUIT PRIME - Servicios de limpieza de cristales</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}"  />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'core/css/estilo2.css' %}" rel="stylesheet" />
        <!-- js -->
        <script src="{% static 'core/js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static 'core/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'core/js/index.js' %}"></script>

		<script src="{% static 'core/js/main.js' %}"></script>
        <script src="{% static 'core/js/scripts.js' %}"></script>

    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">SUIT PRIME</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="pricing.html">Servicios</a></li>
                            <li class="nav-item" id="nav_registro"><a class="nav-link" href="Registro.html">Registrarse</a></li>
                            <li class="nav-item"><a class="nav-link" href="admin/"><strong>Admin</strong></a></li>
                            <li class="nav-item nav_admin" id="nav_admin"><a class="nav-link" href="Admin.html">Panel de control</a></li>
                            <li class="nav-item nav_user" id="nav_user"><a class="nav-link" href="Client.html">Panel usuario</a></li>
                            <li class="nav-item" id="nav_inicio"><a class="nav-link" href="iniciarSesion.html">Iniciar sesion</a></li>
                            <li class="nav-item" id="nav_cerrar"><a class="nav-link" onclick="cerrar()">Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->

                        <div id="registroFormulario">
                                <h1 class="regFormTitulo">Registro</h1>
                                <form action="" id="basic-form" enctype="multipart/form-data" method="post" name="registroformulario">

                                    <div class="dato">
                                        <p><label for="name">Ingrese sus nombres.</label></p>
                                        <p><input name="name" type="text" required placeholder="Nombres" /></p>
                                    </div>
                    
                                    <div class="dato">
                                        <p><label for="lastname">Ingrese sus apellidos.</label></p>
                                        <p><input name="lastname" type="text" required placeholder="Apellidos" /></p>
                                    </div>
                    
                                    <div class="dato">
                                        <p><label for="email">Ingrese su e-mail.</label></p>
                                        <p><input name="email" type="email" placeholder="Correo electrónico" /></p>
                                    </div>
                    
                                    <div class="dato">
                                        <p><label for="password">Cree su clave de acceso. <span id="mensaje"></span></label></p>
                                        <p><input  id="password" name="password" type="password" placeholder="Contraseña" /></p>
                                    </div>
                    
                                    <div class="dato">
                                        <p id="consegninstr">
                                        <strong>La contraseña debe contener:</strong> al menos una mayúscula, un carácter especial y un número. Además, debe ser de un longitud entre 6 y 18 caracteres.
                                        </p>
                                    </div>
                    
                                    <div class="dato">
                                        <p><label for="confirm_password">Repita la clave de acceso.</label></p>
                                        <p><input name="confirm_password" type="password" placeholder="Repetición de contraseña" /></p>
                                    </div>
                    
                                    <div class="dato">
                                        <p><label for="fechas">Ingrese fecha de nacimiento.</label></p>
                                        <p><input name="fechas" type="date" id="fechaNacimiento" min="1920-01-01" max="2021-12-31"></p>
                                        <p id="eBox">0</p>
                                        <script src="newjs.js"></script>
                                    </div>
                    
                                    <div class="dato">
                                        <p><label for="despachodirecc">Ingrese su dirección de despacho.</label></p>
                                        <p><textarea name="despachodirecc" placeholder="Dirección de despacho" ></textarea></p>
                                    </div>
                    
                                    <div class="dato envio">
                                        <p><input class="submit" type="submit" value="Enviar formulario"></p>
                                        <p><input type="reset" value="Borrar" /></p>
                                    </div>
                    
                                </form> 
                        </div>

        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto"><!--
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a> -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>